:root {
    --primary-color: #0F4880;
    --secondary-color: #FF9F1C;    
    --background-color: #FBFEFB;
    --font-color: #1C2833;

    --heading-font: 'Cormorant Garamond Regular', serif;
    --paragraph-font: 'Proza Libre', sans-serif;
}

header {
    display: grid;
    grid-template-columns: .9fr 1fr 1fr;
    color: var(--font-color);
    text-align: center;
    font-family: var(--heading-font);
}

.hero {
    grid-column: 1/4;
    grid-row: 1/4;
}

.hero img {
    width: 100%;
    opacity: .8;
}

h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;   
    background-color: var(--primary-color);
    padding: 1.5rem;
    width: 320px;
    border-radius: 0 40px 40px 0;
}

nav {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    align-items: center;
}

nav a {
    flex: 1 1 auto;
    background-color: var(--primary-color);
    z-index: 1;
    font-size: 1.5rem;
    padding: 1.5rem;
    text-decoration: none;
}

nav a:first-child {
    border-radius: 40px 0 0 40px;
}

nav a:hover {
    text-decoration: underline;
    font-size: 2rem;
    padding: 1.2rem;
    
}

nav a:visited {
    color: var(--font-color);
}


/* #menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰"
}

#menu.open::before {
    content: "❌"
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    display: none;
    font-size: 2em;
    padding: .4em 0em;
    text-decoration: none;
    color: black;
    border: 2px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
}

.navigation a:hover {
    background-color: var(--secondary-color);
    text-decoration: underline var(--accent1-color);
}

.open a {
    display: block;
} */

footer {
    font-family: var(--paragraph-font);
    text-align: center;
    color: var(--font-color);
}

footer p {
    margin-top: 0;
}