* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: grid;
    grid-template-rows: 1.5fr 4fr 2fr;
    grid-template-columns: 3fr 1fr;
}

header, footer {
    grid-column: 1/3;
}

header {
    display: grid;
    grid-template-rows: 2.5fr 1fr;
}

h1 {
    margin: 0px;
    padding: .5rem;   
}

h1, footer {
    background-color: #81fdd4;
    border: 3px solid #396f5f;
    color: #192f28;
}

nav {
    display: flex;
    align-items: center;
    background-color: #396f5f;
    grid-row: 2/3;    
}

nav a {
    flex: 1 1 auto;
    text-align: center;
    color: #d2feef;
    font-size: 1.5rem;
    padding: .5rem;
}

nav a:hover {
    color: white;
}

main {
    grid-column: 1/2;
}

aside {
    grid-column: 2/3;
}

main, aside {
    background-color: #fbfd81;
    border: 3px solid #47472e;
}

p {
    color: #47472e;
    font-size: 1.5rem;
    padding-left: 1rem;
    margin: .5rem;
}

footer {
    text-align: center;
    font-size: 2rem;
}