@media screen and (min-width: 650px) {
    .album {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        place-items: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 30px;
        flex-direction: row;
    }
    
    .navigation a {
        display: block;
        flex: 1 1 auto;
        font-size: 2em;
        padding: .4em 0em;
        text-decoration: none;
        color: black;
        border: 2px solid var(--tertiary-color);
        background-color: var(--tertiary-color);
    }

    
}