@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


:root {
    --primary-color: #E27396;
    --secondary-color: #EA9AB2;
    --tertiary-color: #EFCFE3;
    --accent1-color: #EAF2D7;
    --accent2-color: #B3DEE2;

    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Lato', sans-serif;
}

header, footer {
    background-color: var(--primary-color);
    display: grid;
    font-family: var(--heading-font);
    text-align: center;
    border-radius: 5px;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

body {
    font-size: 18px;
    font-family: var(--paragraph-font);
}

.review {
    margin: 1rem auto;
    padding: 1rem;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    max-width: 800px;
}

label {
    display: block;
    padding-top: 1rem;
}

div {
    padding-top: 1rem;
}

.optional, .applyHelpText {
    font-style: italic;
    padding-top: 0;
}

.review input[type="date"],
.review input[type="text"],
.review select,
.review textarea {    
    padding: .75rem;
    background-color: var(--accent1-color);
    border: 1px solid var(--accent2-color);
    border-radius: 5px;
    display: block;
    width: 94%;
    max-width: 400px;
}

.reivew input[type="radio"],
.review input[type="checkbox"] {
    margin-right: 10px;
}

.review input[type="submit"] {
    border: none;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    color: #fff;
    border-radius: 5px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
    box-shadow: 1px 1px 4px #999;
    font-size: 1.2rem;
    font-weight: bolder;
}

footer {
    font-size: 1.5em;
    display: grid;
}

#lastModified {
    margin: 0px 0px 24px;
    font-size: .5em;
    font-style: italic;    
}

#currentyear {
    margin: 24px 0px 0px;  
}
